POSTGRES_USER=some_user
POSTGRES_PW=good_password
POSTGRES_DB=database_name

DATABASE_URL=postrgres+pyscopg2_url
BETTER_AUTH_DB=postgres_url

BETTER_AUTH_SECRET=your_secret_key

ALLOWED_CORS_ORIGINS=frontend_url, other_urls
BETTER_AUTH_URL=frontend_auth_url
BACKEND_URL=your_backend_url

OPENAI_API_KEY=super_secret_key