POSTGRES_USER=postgres
POSTGRES_PASSWORD=db_password
POSTGRES_DB=db_name

DATABASE_URL=postgresql+psycopg2://postgres:db_password@database:5432/db_name

BETTER_AUTH_SECRET=your_secret

ALLOWED_CORS_ORIGINS=http://localhost:3000

OPENAI_API_KEY=your_API_key

BETTER_AUTH_URL=http://localhost:3000/api/auth
BACKEND_URL=http://localhost:8000
FRONTEND_URL=http://localhost:3000

BETTER_AUTH_DB=postgresql://postgres:db_password@database:5432/db_name