BACKEND_DATABASE_URL=postrgres+pyscopg2_url
BETTER_AUTH_DB=postgres_url

SECRET_KEY=your_secret_key
AlGORITHM=some_alogorithm
ACCESS_TOKEN_EXPIRE_MINUTES=time_in_minutes

ALLOWED_CORS_ORIGINS=frontend_url, other_urls
BETTER_AUTH_URL=frontend_auth_url
BACKEND_URL=your_backend_url

OPENAI_API_KEY=super_secret_key