# python
__pycache__/
*.pyc
*.pyo
*.pyd

# environment variables
.env/
.env.*.local
.venv/
venv/
ENV/

# Environment variables
.env
*.env

# Alembic migrations
alembic/versions/*.__pycache__

# next.js
/.next/
/out/

# dependencies
/node_modules/

# misc
.DS_Store
npm-debug.log*
yarn-debug.log*
.swc/